@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.App {
  h2 {
    font-size: 3em;
    font-family: "VT323", monospace;
    color: red;
    text-align: center;
    padding: 40px 0px 20px 0px;

    img {
      max-width: 50px;
      margin-right: 30px;
    }
  }

  a {
    text-decoration: none;
    color: #161616;
  }

  .searchFilter {
    border: 2px solid #f0524f;
    border-radius: 50px;
    font-size: 1.2em;
    padding-left: 10px;
    width: 400px;
    text-align: center;
  }
}

.pokemons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    color: #161616;
  }

  .cardsHomepage {
    .my-3.card:hover {
      transform: scale(1.05);
      transition: 0.4s ease-out;
    }

    .card {
      .card-title.h5 {
        text-transform: capitalize;
      }

      .type {
        display: flex;
        justify-content: center;
        text-transform: capitalize;
      }
    }
  }
}

.cardByID {
  padding: 40px 80px 20px 80px;

  .fichePokemon {
    h2 {
      text-transform: capitalize;
    }

    img {
      max-width: 380px;
      padding: 50px;
    }

    .pokemonDetails {
      padding: 40px;
    }

    .skills {
      display: flex;
      text-transform: capitalize;
    }

    .stats {
      display: flex;
      flex-wrap: wrap;
      text-transform: capitalize;
    }
  }
}

.btn-card {
  .btn-home {
    border: none;
    padding: 15px 20px 15px 10px;
    border-radius: 50px;
  }
  .btn-home:hover {
    background-color: #e6e6e6;
    transition: ease-in-out 0.4s;
  }

  .btn-like {
    border: none;
    padding: 15px 20px 15px 10px;
    border-radius: 50px;
  }
  .btn-like:hover {
    background-color: #e6e6e6;
    transition: ease-in-out 0.4s;
  }
}

.typesPage {
  h2 {
    text-align: center;
    padding: 40px 0px 20px 0px;
  }

  .btnTypes {
    padding: 20px 80px 0px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .btnLink {
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
  }

  .btnLink:hover {
    background-color: #e6e6e6;
    transition: ease-in-out 0.4s;
  }

  .separator {
    border-top: 1px solid #c0bfbf;
  }
  .bandeau {
    img {
      width: 800px;
    }

    padding: 40px;
    text-align: center;
  }
}

.loader {
  max-width: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 2s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
